.btns {
    width: 280px;
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
}

.createTransaction > .btns > button {
    padding: 5%;
    font-size: 15px;
    font-weight: 600;
    color: #eee;
    border: 1px solid #fff8;
}

.createTransaction > .btns > .withdrawBtn {
    background-color: rgb(255, 45, 45);
}

.createTransaction > .btns > .depositBtn {
    background-color: #04AA6DDD;
}

.date {
    margin-bottom: 20px;
    display: flex;
    width: fit-content;
    margin-inline: auto;
    align-items: center;
}

.date > label {
    margin-right: 10px;
}

.date input {
    padding: 5%;
    font-size: 15px;
    font-weight: 500;
    width: 100%;
    border: none;
}