.modal {
    position: absolute;
    left: 0;
    z-index: 10;
    width: 100%;
}

.modal.above {
    bottom: calc(80%);
}

.modal.bellow {
    top: 70%;
}

.transactionsModal.table {
    max-height: 300px;
    overflow-y: auto;
    background-color: white;
    margin-inline: 10%;
}

.transactionsModal.table > .tableItem > .fields > h2 {
    text-align: center;
}

.transactionsModal > .tableItem > .fields > .vendor {
    flex: 0.5;
}

.transactionsModal > .tableItem > .fields > .amount {
    flex: 0.4;
    padding-block: 5px;
}

.transactionsModal > .tableItem {
    padding-inline: 0;
    margin-inline: 0;
}

.transactionsModal > .tableItem .fields {
    height: 100%;
}
