.modal {
    position: absolute;
    top: 70%;
    left: 0;
    z-index: 10;
    width: 100%;
}

.transactionsModal.table {
    margin-inline: 10%;
}

.transactionsModal.table > .tableItem > .fields > h2 {
    text-align: center;
}

.transactionsModal > .tableItem > .fields > .vendor {
    flex: 0.5;
}

.transactionsModal > .tableItem > .fields > .amount {
    flex: 0.4;
    padding-block: 5px;
}

.transactionsModal > .tableItem {
    padding-inline: 0;
    margin-inline: 0;
}

.transactionsModal > .tableItem .fields {
    height: 100%;
}
