.navbar {
    position: relative;
    display: sticky;
    top: 0;
    padding-block: 20px;
    display: flex;
    justify-content: center;
    border-bottom: #aaa solid 1px;
    box-shadow: 0 1px 10px #aaa;
    background-color: #fff6;
}

.navbar > .balance {
    position: absolute;
    right: 100px;
    bottom: 20%;
}

.navbar > .balance > span {
    margin-left: 5px;
    color: green;
}

.navbar > .balance > span.danger {
    color: red;
}

.navbar > .links {
    display: flex;
    gap: 50px;
}

.navbar > .links > li {
    list-style: none;
}

.navbar > .links > li > a {
    font-size:xx-large;
    font-weight: bold;
    color: #111;
}

.navbar > .links > li > a:hover {
    color: #058655;
}