* {
    margin: 0;
    box-sizing: border-box;  
}

.app {
    min-height: 100vh;
    min-width: 100vw;
    padding-bottom: 20px;
    /* background-image: url("bg.jpeg"); */
    background-image: url("bg2.jpg");
    background-size: cover;
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color: black;
}

input {
    background-color: #fff8;
}